
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .margenTop {
        margin-top:30px;
    }
</style>
<div class="margenTop">
    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModalAgregar" id="agregar">
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Crear Perfil
    </button>
</div>


<div>
    @Html.Action("Details", "Perfil")
</div>

@* data-backdrop=evita que el modal se cierre al hacer click fuera de el; data-keyboard=evita que el modal se cierre con la tecla esc*@
<div class="modal fade" tabindex="-1" role="dialog" id="myModalAgregar" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog  modal-lg" role="document">
        <div class="modal-content">
            <form class="form-horizontal" method="post"  enctype="multipart/form-data" id="formCreate">
                @*@using (Html.BeginForm("Add", "Perfil", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {*@
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Crear un requerimiento</h4>
                </div>
                <div class="modal-body">
                    <div id="contenedor-agregar">
                        @Html.Partial("Add")
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
                    <input type="submit" value="Enviar" class="btn btn-primary" id="btnEnviar">
                </div>
                @*}*@
            </form>
        </div>
    </div>
</div>

<!--MODAL PARA EDITAR-->

<div class="modal fade" tabindex="-1" role="dialog" id="editModal" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog  modal-lg" role="document" id="modalEdit">
        <div class="modal-content">
            <form class="form-horizontal" enctype="multipart/form-data" id="formEdit">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Editar requerimiento</h4>
                </div>
                <div class="modal-body">
                    <div id="contenedor-editar">
                        cargando...
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    @*<button type="button" id="btnSaveOperations" class="btn btn-primary">Save changes</button>*@
                    <input type="submit" value="Enviar" class="btn btn-primary" id="btnEnviarEditar">
                </div>
            </form>

        </div>
    </div>
</div>

<!--MODAL PARA ELIMINAR-->
<div class="modal fade" tabindex="-1" role="dialog" id="borrarModal" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Eliminar requerimiento</h4>
            </div>
            <div class="modal-body">
                <span class="mensaje"></span>

                @* hidden SE LLENA AL MOMENTO DE HACER CLICK EN EL BOTON DE ELIMINAR, QUE ESTA EN LA TABLA *@
                <input type="hidden" id="hdId" value="" />
                <div id="alert_success_eliminar" class="alert alert-success" role="alert"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="btnEliminarTask" class="btn btn-danger">
                    <span class="glyphicon glyphicon-trash"></span>
                    Eliminar
                </button>
            </div>
        </div>
    </div>
</div>




