
@*@{
    ViewBag.Title = "inicio";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}*@

<div class="capa-inicio">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <section class="centertext">
                    <h1> <span>[JV]</span></h1>
                    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero earum quidem quas animi fugit ipsa eum, odit perspiciatis                                 dolores totam?</h2>
                </section>
            </div>
        </div>
    </div>
</div>

