<div class="capa">
    <header class="centrarcontenido">
        <div class="linea">
            <h2>Sobre mi</h2>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="presentacion">
                    <img src="img/yo.jpg" alt="" class="radius">

                    <h1>Juan Villarroel</h1>

                    <p class="centrartexto">
                        Soy programador autodidacta, innovador con capacidad para trabajar en equipo y tomar decisiones en situaciones críticas o bajo presión. Me dedico a estudiar nuevas tecnologías y asumir retos.

                        Me especializo en crear aplicativos utilizando la herramienta asp.net 2012 o window form 2012 y como lenguaje de programación c#. empleando para la interacción con  los datos sql server 2012. Adicional mente diseño páginas web utilizando html y css, aprovechando las facilidades que ofrece el framework Bootstrap.
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>
