<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <header class="centrarcontenido linea">
                <h2>Portafolio</h2>
            </header>
            <div id="filtro">
                <ul>
                    <li id="sha" class="filter" data-filter="all">Show All</li>
                    <li id="php" class="filter" data-filter=".category-1">PHP</li>
                    <li id="c" class="filter" data-filter=".category-2">C#</li>
                    <li id="front" class="filter" data-filter=".category-3">FRONT-END</li>
                </ul>

                <div id="Container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="mix category-1" data-my-order="1">
                                <div class="thumbnail">
                                    <img src="http://placehold.it/242x200" alt="">
                                    <div class="caption">
                                        <h3>Thumbnail label</h3>
                                        <div class="contenedor">
                                            <div class="col-sm-12">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                            </div>
                                        </div>
                                        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="mix category-1" data-my-order="2">
                                <div class="thumbnail">
                                    <img src="http://placehold.it/242x200" alt="">
                                    <div class="caption">
                                        <h3>Thumbnail label</h3>
                                        <div class="contenedor">
                                            <div class="col-sm-12">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                            </div>
                                        </div>
                                        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="mix category-2" data-my-order="3">
                                <div class="thumbnail">
                                    <img src="http://placehold.it/242x200" alt="">
                                    <div class="caption">
                                        <h3>Thumbnail label</h3>
                                        <div class="contenedor">
                                            <div class="col-sm-12">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                            </div>
                                        </div>
                                        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="mix category-3" data-my-order="4">
                                <div class="thumbnail">
                                    <img src="http://placehold.it/242x200" alt="">
                                    <div class="caption">
                                        <h3>Thumbnail label</h3>
                                        <div class="contenedor">
                                            <div class="col-sm-12">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                            </div>
                                        </div>
                                        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    //SE USA PARA MOSTRAR LOS PROYECTOS
    $(function () {
        $('#Container').mixItUp();
    });
</script>
