<header class="centrarcontenido linea">
    <h2>Skill</h2>
</header>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="wraper">
                <div class="skillst5">
                    <div class="skillbar" data-percent="80%">
                        <div class="title">HTML</div>
                        <div class="count-bar color-1">
                            <div class="count"></div>
                        </div>
                    </div>

                    <div class="skillbar" data-percent="60%">
                        <div class="title">HTML 5</div>
                        <div class="count-bar color-2">
                            <div class="count"></div>
                        </div>
                    </div>

                    <div class="skillbar" data-percent="78%">
                        <div class="title">CSS</div>
                        <div class="count-bar color-3">
                            <div class="count"></div>
                        </div>
                    </div>

                    <div class="skillbar" data-percent="60%">
                        <div class="title">CSS 3</div>
                        <div class="count-bar color-4">
                            <div class="count"></div>
                        </div>
                    </div>

                    <div class="skillbar" data-percent="70%">
                        <div class="title">SQL SERVER</div>
                        <div class="count-bar color-5">
                            <div class="count"></div>
                        </div>
                    </div>

                    <div class="skillbar" data-percent="65%">
                        <div class="title">T-SQL</div>
                        <div class="count-bar color-6">
                            <div class="count"></div>
                        </div>
                    </div>

                    <div class="skillbar" data-percent="60%">
                        <div class="title">LINQ</div>
                        <div class="count-bar color-7">
                            <div class="count"></div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="wraper">
                <div class="skillst5">
                    <div class="skillbar" data-percent="80%">
                        <div class="title">ASP.NET</div>
                        <div class="count-bar color-8">
                            <div class="count"></div>
                        </div>
                    </div>

                    <div class="skillbar" data-percent="70%">
                        <div class="title">WEBFORM C#</div>
                        <div class="count-bar color-4">
                            <div class="count"></div>
                        </div>
                    </div>
                    <div class="skillbar" data-percent="60%">
                        <div class="title">ASP.NET MVC</div>
                        <div class="count-bar color-5">
                            <div class="count"></div>
                        </div>
                    </div>

                    <div class="skillbar" data-percent="50%">
                        <div class="title">JAVASCRIPT</div>
                        <div class="count-bar color-1">
                            <div class="count"></div>
                        </div>
                    </div>

                    <div class="skillbar" data-percent="50%">
                        <div class="title">WEB SERVICE</div>
                        <div class="count-bar color-2">
                            <div class="count"></div>
                        </div>
                    </div>
                    <div class="skillbar" data-percent="40%">
                        <div class="title">jQuery</div>
                        <div class="count-bar color-3">
                            <div class="count"></div>
                        </div>
                    </div>
                    <div class="skillbar" data-percent="65%">
                        <div class="title">PHP</div>
                        <div class="count-bar color-4">
                            <div class="count"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

